<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Users</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/styles.css">
    </head>
    <body>
        <div id="app">
            <!-- HEADER -->
            <header>
                <nav id="navbar" class="navbar navbar-expand-lg bg-light navbar-light">
                    <div class="container">
                        <a class="navbar-brand" href="index.html">
                            <!-- <img src="./assets/images/logo.png" alt="logo"> -->
                            <span>Users</span>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link logout" aria-current="page" href="#" @click="logout">Cerrar Sesión <i class="fa-solid fa-right-from-bracket"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page">Welcome: <span v-text="`${newUsers[pos].name.first} ${newUsers[pos].name.last}`" class="text-light"></span></a>
                                </li>
                                <li class="nav-item">
                                    <img :src="newUsers[pos].picture.thumbnail" class="profile" alt="pr1">
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <!-- HEADER -->

            <!-- products -->
            <section id="users" class="mt-4">
                <div class="container">
                    <div class="row">
                        <div class="col text-center text-uppercase">
                            <h1 class="menu-title">Users List</h1>
                        </div>
                    </div>
                    <div class="row"> <!--Filter -->
                        <div class="col-lg-6 col-md-4 text-center">
                            <h4>Filters</h4>
                            <select class="form-select" v-model="foption" @change="filter">
                                <option value="all">Show all</option>
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-4 text-center mt-1">
                            <label for="exampleDataList" class="form-label">Search by first name</label>
                            <input class="form-control" placeholder="Type to search..." v-model="soption" @change="search" @keyup="search">
                        </div>
                    </div>
                    <!-- products & modals-->
                    <div class="row" v-if="newUsers.length">
                        <div class="col-md-6 col-lg-3 mt-3 mb-4" v-for="(item, index) in newUsers" :key="index">
                            <div class="card">
                                <img :src="item.picture.large" class="card-img-top" alt="pr1">
                                <div class="card-body">
                                    <h5 class="card-title">Gender: <span v-text="item.gender"></span></h5>
                                    <h5 class="card-title">Name: <span v-text="`${item.name.first} ${item.name.last}`"></span></h5>
                                    <h5 class="card-title">City: <span v-text="item.location.city"></span></h5>
                                    <h5 class="card-title">Cell: <span v-text="item.cell"></span></h5>
                                    <h5 class="card-title">Age: <span v-text="item.dob.age"></span></h5>
                                    <h5 class="card-title">Country: <span v-text="item.location.country"></span></h5>
                                    <h5 class="card-title">Nationality: <span v-text="item.nat"></span></h5>
                                </div>
                                <div class="card-footer">
                                    <h5>Flag: </h5>
                                    <img :src="item.flag" alt="flag">
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <!-- /products -->
                </div>
            </section>
            <!-- /products -->

            <!-- FOOTER -->
            <footer id="footer" class="pb-4 pt-4">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12 col-lg col-md">
                            <a href="#">FAQ</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <a href="#">Contact</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <a href="#">Novedades</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <a href="#">Privacy</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <h6 class="text-center mt-2 mb-2">
                                Follow us: 
                                <a href="#"><i class="fab fa-instagram-square"></i></a>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                            </h6>
                        </div>
                    </div>
                    <h6 class="text-center mt-4">© Copyright - All rights reserved</h6>
                    <h6 class="text-center mt-4">Elias Toro</h6>
                </div>
            </footer>
            <!-- /FOOTER -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/sweetalert2.all.min.js"></script>
    <script src="./assets/js/main.js"></script>
</html>